.no-sidebar{

	.site {
		display: grid;
		grid-template-columns: 1fr minmax(0, 1000px) 1fr;
		grid-template-areas:
			"header header header"
			". main ."
			"footer footer footer";
	}

	.site-header {
		grid-area: header;
	}

	.site-main {
		grid-area: main;
	}

	.site-footer {
		grid-area: footer;
	}
}

	



